.form {
	background-color: #ffffff;
	border-radius: 0.5rem;
	padding: 3rem;
}

.form-label {
	margin-bottom: 0.5rem;
}

.form-group {
	margin-bottom: 1.5rem;
}

.form-text {
	width: 100%;
	display: block;
	text-align: center;
}

.form-group small a {
	text-align: left;
}

.forgotPassword {
	display: inline;
}